@charset "UTF-8";
/* CSS Document */
	div.scroll {
		height: 400px;
		width: 98%;
		border-radius: 13px; 
		border-spacing: 0;
		overflow: auto;
		border: 1px solid #666;
		background-color: #ccc;
		padding: 10px;
	}
	div.redondo {
		border-radius: 5px; 
		border-spacing: 0;
		overflow: auto;
		border: 1px solid #666;
		background-color: #ccc;
		padding: 2px;
	}
	img.Redonda {
		width:50px;
		height:50px;
		border-radius:5px;
	}	
	input[type='button'], input[type='submit'], input[type='radio'], select, input[type='text'] {
		-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
		-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
		box-shadow:inset 0px 1px 0px 0px #fff6af;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
		background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
		background-color:#ffec64;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #ffaa22;
		display:inline-block;
		cursor:pointer;
		color:#333333;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:12px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffee66;
	}
	input[type='button']:hover, input[type='submit']:hover, input[type='radio']:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
		background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
		background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
		background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
		background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
		background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
		background-color:#ffab23;
	}
	input[type='button']:active, input[type='submit']:active, input[type='radio']:active {
		background-color: orange;
		position:relative;
		top:1px;
	}	
	.fixed_header{
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
	}
	.fixed_header tbody{
	  display:block;
	  width: 100%;
	  overflow: auto;
	  height: 500px;
	}
	.fixed_header thead tr {
	   display: block;
	   align-content: right;
	   text-align: right;
	}
	.fixed_header thead {
	  background: #D9D9D9;
	  color:#fff;
	}
	.fixed_header th, .fixed_header td {
	  padding: 2px;
	  text-align: right;
	  width: 20px;		
	  align-content: right;
	}	
	table {
	  table-layout: fixed;	
	  border-collapse: collapse;
	  width: 100%;	
	  border: 1px solid DarkOrange;
	  border-radius: 13px; 
	  border-spacing: 0;
      padding: 0px;
	}
	th {
	  background-color: orange;
	  color: white;	
	  padding: 2px;
	  font-weight: bold;
	  font-size: 10px;
	}
	td {
	  align-content: right;
	  padding: 2px;
	  font-size: 10px;
	  text-align: right;	
	}
	@media print {    
		.no-print, .no-print *
		{ display: none !important; }
	}
	tr:nth-child(even) {background-color: #f2f2f2;}
	body {
		margin-left: 10px;
		margin-top: 10px;
		margin-right: 10px;
		margin-bottom: 10px;	
	}
	.box_app{
	  table-layout: auto;
	  height: 50px; 
	  border-collapse: collapse;
	  border: 1px solid DarkOrange;
	  border-radius: 5px; 
	  border-spacing: 0;
	}
.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.parentimage { 
	width: 300px;
	height: 300px; 
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
} 
.parentimage:hover {
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
} 
