@charset "UTF-8";
/* CSS Document */
        body {
           font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
        	margin: 0px;
        	color: #333;
        	background-color: #f4f7fa;
			padding: 0px 0px 0px 0px;
        }
        
        h1,
        h2 {
        	text-align: center;
            font-size: 12px;
            background-color:#512554;
	        color: #C39BD3;
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
			padding: 10px;
        }
        
        form {
        	display: flex;
        	gap: 10px;
        	justify-content: center;
        	margin-bottom: 20px;
        	font-size: 14px;
        }
        
        table {
        	border-collapse: collapse;
        	margin-top: 0px;
        	font-size: 13px;
        	background-color: #fff;
        	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        }
        
        th,
        td {
        	padding: 3px 10px;
        	text-align: center;
        	border: 1px solid #d0d7de;
        }
        
        th {
        	font-weight: bold;
            font-size: 14px;
            background-color:#512554;
	        color: #C39BD3;
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
       }
        
        tr:nth-child(even) {
        	background-color: #f9f9f9;
        }
        
        tr:hover {
        	background-color: #e2effb;
        }
        
        .principal-table {
        	margin: 30px auto;
        	font-size: 13px;
        	background-color: #fff;
        	border: 1px solid #d0d7de;
        	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        }
        
        .resumen-table {
         	margin: 30px auto;
        	font-size: 13px;
        	background-color: #fff;
        	border: 1px solid #d0d7de;
        	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        }
        
        .resumen-title {
        	background-color: #dae8f1;
        	color: #333;
        	font-weight: bold;
        }
        
        .total-row {
        	background-color: #f0f5f9;
        	font-weight: bold;
        	color: #2d2d2d;
        }
        
        .chart-container {
        	display: flex;
        	justify-content: center;
        	gap: 20px;
        	margin-top: 30px;
        }
        
        .chart-wrapper {
        	width: 500px;
        	height: 500px;
        }
        
        .text-left {
        	text-align: left;
        }
        
        .text-right {
        	text-align: right;
        }
		.subtitulo{
       
            font-size: 12px;
            background-color:#512554;
	        color: #C39BD3;
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;

         }
