@charset "UTF-8";
/* CSS Document */
   	html, body, div {
   		margin:0;
   		padding:0;
   		height:100%;
   		margin-left: 0px;
   		margin-top: 0px;
   		margin-right: 0px;
   		margin-bottom: 0px;
        padding-bottom: 40px; /* deja espacio para el footer */ 
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;  
        
   	}

        header {
            background-color: #1F1D3E;
            color: white;
            padding: 20px;
            text-align: center;
            font-size: 24px;
            position: sticky;
            top: 0;
            z-index: 2;
        }


    .contenido {
        position: absolute;
        top: 50px; /* deja espacio para header */
        bottom: 30px; /* deja espacio para footer */
        width: 100%;
        overflow-y: auto;
        padding: 0px;
    }

    footer {
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 25px;
        color: gray;
        font-size: 12px;
        text-align: center;
        line-height: 25px;
        border-top: 1px solid lightgray;
    }
    table{
           border: none;
           color: #1F1D3E;
           color: white;
           font-size: 15px;
           border-collapse: collapse;
           background-color: #19173C;
       }  
    .table-container {
        max-height: calc(100vh - 130px); /* ajusta si tu header/footer cambia */
        overflow-y: auto;
        overflow-x: auto;
        margin: 0px;
    }
th {
    position: sticky;
    top: 0;
    background-color: #1F1D3E;
    color: white;
    padding: 8px;
    border-bottom: 2px solid #ccc;
    text-align: left;
    z-index: 2;
}
       td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

   	iframe {
        border: none;
        border-collapse: collapse;
        padding: 0;
        margin: 0;
        display:block; 
        width:100%;  
        height: 80%;
    }

	/* unvisited link */
	a:link {
	  color: gray;
	}
	/* visited link */
	a:visited {
	  color: gray;
	}
	/* mouse over link */
	a:hover {
	  color: darkgrey;
	  font-size: 20px;
	  font-weight: bold;
	}
	/* selected link */
	a:active {
	  color: blue;
	}		

